<div class="container mx-auto text-center mt-8 font-mitr">
  <div class="inline-flex shadow-lg">
    <button class="bg-pink hover:bg-red-400 text-white py-2 px-4">
      ติดตามผล
    </button>
    <button class="bg-lightgray hover:bg-gray-400 text-white py-2 px-4">
      แจ้งเรื่องร้องเรียน
    </button>
  </div>
  <div class="bg-white p-4">
    <input
      class="w-3/5 p-2 mr-8 shadow-xl"
      type="text"
      placeholder="ค้นหาเรื่องร้องเรียน"
    />
    <button class="bg-pink hover:bg-red-400 text-white p-2 pl-4 pr-4 shadow-lg">
      <p class="text-lg">SEARCH</p>
    </button>
  </div>
  <h1 class="text-xl md:text-4xl mt-16 mr-4 ml-4 font-mitr text-brown">
    ความคืบหน้าเรื่องร้องเรียนกรณีมีบุคคลภายนอกเข้ามาบริเวณหอพักนิสิต
  </h1>
  <br />
  <div class="my-16 static flex justify-center text-brown">
    <div class="flex items-center">
      <div
        class="w-70 h-70 rounded-full border-white border-4 absolute shadow-2xl"
      >
        <img src="../../assets/sccu.png" />
      </div>
      <p class="absolute mt-48">สภานิสิตรับ<br />เข้าพิจารณา</p>
      <div
        class="w-70 h-70 rounded-full border-white border-4 absolute shadow-2xl"
        style="margin-left: 11%"
      >
        <img src="../../assets/consider.png" />
      </div>
      <p class="absolute mt-48" style="margin-left: 11%">
        อยู่ในระหว่าง<br />การดำเนินงานโดย<br />คณะกรรมาธิการ
      </p>
      <div
        class="w-70 h-70 rounded-full border-white border-4 absolute shadow-2xl"
        style="margin-left: 22%"
      >
        <img src="../../assets/office.png" />
      </div>
      <p class="absolute mt-48" style="margin-left: 22%">
        อยู่ในระหว่าง<br />การหารือกับหน่วยงาน<br />ที่เกี่ยวข้อง
      </p>
      <div
        class="w-70 h-70 rounded-full border-white border-4 absolute shadow-2xl"
        style="margin-left: 33%"
      >
        <img src="../../assets/send.png" />
      </div>
      <p class="absolute mt-48" style="margin-left: 33%">
        กำลังดำเนินการ<br />ส่งหนังสือ
      </p>
      <div
        class="w-70 h-70 rounded-full border-white border-4 absolute shadow-2xl"
        style="margin-left: 44%"
      >
        <img src="../../assets/receive.png" />
      </div>
      <p class="absolute mt-48" style="margin-left: 44%">
        ได้รับการตอบกลับ<br />จากหน่วยงาน<br />ที่เกี่ยวข้องแล้ว
      </p>
    </div>
    <div
      class="h-full w-3/5 border-dotted border-8 border-lightgray"
      style="border-top: 6px"
    ></div>
  </div>
  <br />

  <br /><br />
  <h2 class="text-left text-lg md:text-2xl ml-6 font-bold text-brown">
    แสดงรายละเอียดเพิ่มเติม
  </h2>
  <br />
  <h2 class="text-left text-base md:text-xl ml-3 pl-16 mr-3 text-brown">
    ความคืบหน้าเรื่องร้องเรียนกรณีมีบุคคลภายนอกเข้ามาบริเวณหอพักนิสิต
  </h2>
  <br />

  <div
    class="
      flex flex-col
      md:grid
      grid-cols-12
      mx-auto
      p-2
      text-xs
      md:text-base
      text-brown
    "
  >
    <div class="flex flex-row-reverse md:contents text-xs md:text-base">
      <div class="col-start-2 col-end-3 p-4 my-4">
        <p class="leading-tight justify-center text-black">
          <span class="italic">23/04/64</span>
          15.03 น.
        </p>
      </div>

      <div class="col-start-3 col-end-4 md:mx-auto relative mr-4 ml-2">
        <div class="h-full w-6 flex items-center justify-center">
          <div
            class="h-full w-1 border-dotted border-4 border-lightgray"
            style="border-left: 6px"
          ></div>
        </div>
        <div
          class="
            w-6
            h-6
            absolute
            top-1/2
            -mt-3
            rounded-full
            bg-white
            border-pink border-4
          "
        ></div>
      </div>

      <div class="col-start-4 col-end-8 p-4 my-4">
        <p class="leading-tight text-justify text-black">
          ได้รับการตอบกลับจากสำนักงานหอพักนิสิตแล้วผลสรุปว่าจะมีการจัดการปัญหาและเพิ่มมาตรการให้รัดกุมมากขึ้น
        </p>
      </div>
    </div>

    <div class="flex flex-row-reverse md:contents text-xs md:text-base">
      <div class="col-start-2 col-end-3 p-4 my-4">
        <p class="leading-tight justify-center text-black">
          <span class="italic">23/04/64</span>
          15.03 น.
        </p>
      </div>

      <div class="col-start-3 col-end-4 md:mx-auto relative mr-4 ml-2 mt-1">
        <div class="h-full w-6 flex items-center justify-center">
          <div
            class="h-full w-1 border-dotted border-4 border-lightgray"
            style="border-left: 6px"
          ></div>
        </div>
        <div
          class="
            w-6
            h-6
            absolute
            top-1/2
            -mt-3
            rounded-full
            bg-white
            border-pink border-4
          "
        ></div>
      </div>

      <div class="col-start-4 col-end-8 p-4 my-4">
        <p class="leading-tight text-justify text-black">
          ได้รับการตอบกลับจากสำนักงานหอพักนิสิตแล้วผลสรุปว่าจะมีการจัดการปัญหาและเพิ่มมาตรการให้รัดกุมมากขึ้น
        </p>
      </div>
    </div>

    <div class="flex flex-row-reverse md:contents text-xs md:text-base">
      <div class="col-start-2 col-end-3 p-4 my-4">
        <p class="leading-tight justify-center text-black">
          <span class="italic">23/04/64</span>
          15.03 น.
        </p>
      </div>

      <div class="col-start-3 col-end-4 md:mx-auto relative mr-4 ml-2 mt-1">
        <div class="h-full w-6 flex items-center justify-center">
          <div
            class="h-full w-1 border-dotted border-4 border-lightgray"
            style="border-left: 6px"
          ></div>
        </div>
        <div
          class="
            w-6
            h-6
            absolute
            top-1/2
            -mt-3
            rounded-full
            bg-white
            border-lightgray border-4
          "
        ></div>
      </div>

      <div class="col-start-4 col-end-8 p-4 my-4">
        <p class="leading-tight text-justify text-black">
          ได้รับการตอบกลับจากสำนักงานหอพักนิสิตแล้วผลสรุปว่าจะมีการจัดการปัญหาและเพิ่มมาตรการให้รัดกุมมากขึ้น
        </p>
      </div>
    </div>
  </div>
</div>
