<div class="container mx-auto text-center mt-8 font-mitr">
  <div class="inline-flex shadow-lg">
    <button class="bg-pink hover:bg-red-400 text-white py-2 px-4 rounded-none">
      ติดตามผล
    </button>
    <button
      class="bg-lightgray hover:bg-gray-400 text-white py-2 px-4 rounded-none"
    >
      แจ้งเรื่องร้องเรียน
    </button>
  </div>
  <div class="p-4">
    <input
      class="w-3/5 p-2 mr-8 shadow-xl"
      type="text"
      placeholder="ค้นหาเรื่องร้องเรียน"
    />
    <button class="bg-pink hover:bg-red-400 text-white p-2 pl-4 pr-4 shadow-lg">
      <p class="text-xs lg:text-lg">SEARCH</p>
    </button>
  </div>
  <h1 class="text-xl md:text-4xl mt-16 mr-4 ml-4 font-mitr text-brown">
    ความคืบหน้าเรื่อง{{ track_data.title }}
  </h1>
  <br /><br />

  <div class="grid grid-cols-5 lg:p-16 p-4 text-brown">
    <div
      class="border-dotted lg:border-8 border-4 border-lightgray lg:mr-2 mr-1"
      style="border-top: 6px"
    >
      <div class="relative flex justify-center">
        <div
          class="
            w-12
            lg:w-28
            h-12
            lg:h-28
            absolute
            -mt-6
            lg:-mt-12
            rounded-full
            bg-pink
            lg:border-4
            border-2 border-white
            lg:shadow-2xl
            md:shadow-md
          "
        >
          <img
            class="w-full h-full"
            [src]="
              track_data.status > 0
                ? '../../assets/sccu.png'
                : '../../assets/no-sccu.png'
            "
          />
        </div>
      </div>
    </div>

    <div
      class="border-dotted lg:border-8 border-4 border-lightgray lg:mr-2 mr-1"
      style="border-top: 6px"
    >
      <div class="relative flex justify-center">
        <div
          class="
            w-12
            lg:w-28
            h-12
            lg:h-28
            absolute
            -mt-6
            lg:-mt-12
            rounded-full
            bg-pink
            lg:border-4
            border-2 border-white
            lg:shadow-2xl
            md:shadow-md
          "
        >
          <img
            class="w-full h-full"
            [src]="
              track_data.status > 1
                ? '../../assets/consider.png'
                : '../../assets/no-consider.png'
            "
          />
        </div>
      </div>
    </div>

    <div
      class="border-dotted lg:border-8 border-4 border-lightgray lg:mr-2 mr-1"
      style="border-top: 6px"
    >
      <div class="relative flex justify-center">
        <div
          class="
            w-12
            lg:w-28
            h-12
            lg:h-28
            absolute
            -mt-6
            lg:-mt-12
            rounded-full
            bg-pink
            lg:border-4
            border-2 border-white
            lg:shadow-2xl
            md:shadow-md
          "
        >
          <img
            class="w-full h-full"
            [src]="
              track_data.status > 2
                ? '../../assets/office.png'
                : '../../assets/no-office.png'
            "
          />
        </div>
      </div>
    </div>

    <div
      class="border-dotted lg:border-8 border-4 border-lightgray lg:mr-2 mr-1"
      style="border-top: 6px"
    >
      <div class="relative flex justify-center">
        <div
          class="
            w-12
            lg:w-28
            h-12
            lg:h-28
            absolute
            -mt-6
            lg:-mt-12
            rounded-full
            bg-pink
            lg:border-4
            border-2 border-white
            lg:shadow-2xl
            md:shadow-md
          "
        >
          <img
            class="w-full h-full"
            [src]="
              track_data.status > 3
                ? '../../assets/send.png'
                : '../../assets/no-send.png'
            "
          />
        </div>
      </div>
    </div>

    <div
      class="border-dotted lg:border-8 border-4 border-lightgray lg:mr-2 mr-1"
      style="border-top: 6px"
    >
      <div class="relative flex justify-center">
        <div
          class="
            w-12
            lg:w-28
            h-12
            lg:h-28
            absolute
            -mt-6
            lg:-mt-12
            rounded-full
            bg-pink
            lg:border-4
            border-2 border-white
            lg:shadow-2xl
            md:shadow-md
          "
        >
          <img
            class="w-full h-full"
            [src]="
              track_data.status > 4
                ? '../../assets/receive.png'
                : '../../assets/no-receive.png'
            "
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="
      grid grid-cols-5
      justify-items-center
      lg:p-16
      p-4
      lg:text-lg
      text-xs text-center text-brown
    "
  >
    <div class="lg:w-4/5">สภานิสิตรับเข้าพิจารณา</div>
    <div class="lg:w-4/5">อยู่ในระหว่างการดำเนินงานโดยคณะกรรมาธิการ</div>
    <div class="lg:w-4/5">อยู่ในระหว่างการหารือกับหน่วยงานที่เกี่ยวข้อง</div>
    <div class="lg:w-4/5">กำลังดำเนินการส่งหนังสือ</div>
    <div class="lg:w-4/5">ได้รับการตอบกลับจากหน่วยงานที่เกี่ยวข้องแล้ว</div>
  </div>

  <br /><br />
  <h2 class="text-left text-lg md:text-2xl ml-6 font-bold text-brown">
    แสดงรายละเอียดเพิ่มเติม
  </h2>
  <br />
  <h2 class="text-left text-base md:text-xl ml-3 pl-16 mr-3 text-brown">
    ความคืบหน้าเรื่อง{{ track_data.title }}
  </h2>
  <br />

  <div
    class="
      flex flex-col
      md:grid
      grid-cols-12
      mx-auto
      mb-1
      text-xs
      md:text-base
      text-brown
    "
    *ngFor="let track of track_data.processes"
  >
    <div class="flex flex-row md:contents text-xs md:text-base">
      <div class="col-start-2 col-end-3 p-4 my-4">
        <p class="leading-tight justify-center text-black">
          <span class="italic">{{ track.timestamp }}</span>
        </p>
      </div>

      <div class="col-start-3 col-end-4 md:mx-auto relative mr-4 ml-2">
        <div class="h-full w-6 flex items-center justify-center">
          <div
            class="h-full w-1 border-dotted border-4 border-lightgray"
            style="border-left: 6px"
          ></div>
        </div>
        <div
          [ngClass]="[track.success ? 'border-pink' : 'border-lightgray']"
          class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-white border-4"
        ></div>
      </div>

      <div class="col-start-4 col-end-8 p-4 my-4">
        <p class="leading-tight text-justify text-black">
          {{ track.details }}
        </p>
      </div>
    </div>
  </div>
  <br /><br />
</div>
