<!-- component -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
  integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap"
  rel="stylesheet"
/>

<nav class="flex items-center bg-yellow p-3 flex-wrap">
  <a href="#" class="p-2 mr-4 inline-flex items-center">
    <img src="../../assets/logo.jpg" class="rounded-full h-12 w-12 mr-4" />
    <span class="text-4xl text-brown font-bold uppercase tracking-wide"
      >SCCU</span
    >
  </a>
  <button
    class="
      text-black
      inline-flex
      p-3
      rounded
      lg:hidden
      ml-auto
      outline-none
      nav-toggler
    "
    (click)="toggleHamburger()"
  >
    <i class="material-icons">menu</i>
  </button>
  <div
    class="
      top-navbar
      w-full
      lg:inline-flex lg:flex-grow lg:w-auto
      font-mitr
      text-black text-base
      lg:text-xl
    "
    [hidden]="!hamburgerOpen"
    id="navigation"
  >
    <div
      class="
        lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto
        w-full
        lg:items-center
        items-start
        font-bold
        flex flex-col
        lg:h-auto
      "
    >
      <a
        href="#"
        class="
          lg:inline-flex lg:w-auto
          w-full
          px-3
          py-2
          rounded
          items-center
          justify-center
        "
      >
        <span>เกี่ยวกับเรา</span>
      </a>
      <a
        href="#"
        class="
          lg:inline-flex lg:w-auto
          w-full
          px-3
          py-2
          rounded
          items-center
          justify-center
        "
      >
        <span>นิสิตควรรู้</span>
      </a>
      <a
        href="#"
        class="
          lg:inline-flex lg:w-auto
          w-full
          px-3
          py-2
          rounded
          items-center
          justify-center
        "
      >
        <span>เรื่องร้องเรียน</span>
      </a>
      <a
        href="#"
        class="
          lg:inline-flex lg:w-auto
          w-full
          px-3
          py-2
          rounded
          items-center
          justify-center
        "
      >
        <span>ติดต่อเรา</span>
      </a>
    </div>
  </div>
</nav>
