{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "always",
  "useTabs": true,
  "overrides": [
    {
      "files": "*.html",
      "options": { "parser": "html" }
    },
    {
      "files": "*.component.html",
      "options": { "parser": "angular" }
    }
  ]
}
